.page-home {
  agm-map {
    width: 100vw;
    height: 100vh;
  }
  mgl-map {
    height: 100vh;
    width: 100vw;
  }

  .mapboxgl-popup-content {
    padding: 0;
  }

  .tools {
      z-index: 9999;
      position: absolute;
      top: 50px;
      left: 50px;
      background: #fff;
      padding: 10px
  }

  @media (max-width: 960px) {
      .tools {
          position: fixed;
          top: 0;
          background: #fff;
          padding: 10px;
          left: 0;
          height: 100vh;
          width: 20vw;
          overflow-y: scroll;
      }
  }


  .top-toolbar {
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 20px;
    left: 0;
  }

  .footer-toolbar {
    .footer-slider {
      display: none;
    }
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
  }

  @media (max-width: 767.98px) {
    .top-toolbar {
      padding: 0;
      top: 0;
      z-index: 4;
    }
    .footer-toolbar {
      .listings-holder {
        height: 0;
        transition: all 600ms ease-out;
        &.show {
          height: 184px;
        }
      }
      .footer-slider {
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 2rem;
        background: #f8f8f8;
        border-bottom: solid 1px #ccc;
        .fa {
          font-size: 2rem;
          &.fa-sort-up {
            margin-top: 10px;
          }
          &.fa-sort-down {
            margin-bottom: 10px;
          }
        }

      }
    }
  }
}
