<div class="page-home">
  <!-- <agm-map [latitude]="40.5" [longitude]="-80" [zoom]="12">
      <agm-marker *ngFor="let point of points | async" [latitude]="point.pos.geopoint.latitude" [longitude]="point.pos.geopoint.longitude">
          <agm-info-window>


              {{ point.queryMetadata | json }}

          </agm-info-window>
      </agm-marker>


      <agm-circle [latitude]="40.5" [longitude]="-80" [radius]="(radius | async) * 1000"></agm-circle>
  </agm-map>-->
  <mgl-map #mapbox
    [style]="'mapbox://styles/galvinw/cjki32wem35cb2ss2vhqr1tu1'"
    [zoom]="mapProperty?.zoom"
    [center]="[mapProperty?.lng, mapProperty?.lat]"
    [cursorStyle]="cursorStyle"
    (dragEnd)="onDragEnd($event)"
    (zoomEnd)="onZoomChange($event)"
    (load)="onMapLoad($event)"
  >

    <mgl-geojson-source *ngFor="let source of geoSources"
      [id]="source.id"
      [data]="source.listings"
      [cluster]="true"
      [clusterMaxZoom]="12"
      [clusterRadius]="50"
      >
    </mgl-geojson-source>

    <!--<mgl-layer *ngFor="let source of geoSources"
      [id]="source.id"
      [source]="source.id"
      type="symbol"
      [layout]="source.layout"
      (click)="onClick($event)"
      (mouseEnter)="cursorStyle = 'pointer'"
      (mouseLeave)="cursorStyle = ''"
    >
  </mgl-layer>-->


    <mgl-layer *ngFor="let source of geoSources"
        [id]="source.id + '-cluster'"
        type="circle"
        [source]="source.id"
        [filter]="['has', 'point_count']"
        [paint]="{
          'circle-color': {
              property: 'point_count',
              type: 'interval',
              stops: [
                  [0, '#51bbd6'],
                  [100, '#f1f075'],
                  [750, '#f28cb1']
              ]
          },
          'circle-radius': {
              property: 'point_count',
              type: 'interval',
              stops: [
                  [0, 20],
                  [100, 30],
                  [750, 40]
              ]
          }
        }"
        [layout]="{visibility: source.layout.visibility}"
      ></mgl-layer>
      <mgl-layer *ngFor="let source of geoSources"
        [id]="source.id + '-unclustered-point'"
        type="symbol"
        [source]="source.id"
        [filter]="['!has', 'point_count']"
        [layout]="source.layout"
        (click)="onClick($event)"
        (mouseEnter)="cursorStyle = 'pointer'"
        (mouseLeave)="cursorStyle = ''"
      >
      </mgl-layer>
      <mgl-layer  *ngFor="let source of geoSources"
        [id]="source.id + '-cluster-count'"
        type="symbol"
        [source]="source.id"
        [filter]="['has', 'point_count']"
        [layout]="{
        'text-field': '{point_count}',
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 12,
        'visibility': source.layout.visibility
        }"
      >
      </mgl-layer>


    <mgl-popup
      *ngIf="selectedPoint"
      [lngLat]="selectedPoint.geometry?.coordinates">
      <ngx-map-point [selectedPoint]="selectedPoint"></ngx-map-point>
    </mgl-popup>
  </mgl-map>


  <!--<div class="tools">
      <h4>Query within Radius</h4>
      <pre>collection.within(center, radius, field)</pre>
      <p> <a routerLink="/pages/rt">DEMO 2 - Realtime Query</a> </p>
      <h6>Current Radius: {{ radius | async }}</h6>
      <h6>Documents Found: {{ (points | async)?.length }}</h6>

      <button class="btn btn-secondary btn-sm"
        [disabled]="(radius | async) === 0.25" (click)="update(0.25)">Query to 0.25km</button>
      <button class="btn btn-secondary btn-sm"
        [disabled]="(radius | async) === 5" (click)="update(5)">Query to 5km</button>
      <button class="btn btn-secondary btn-sm"
        [disabled]="(radius | async) === 10" (click)="update(10)">Query to 10km</button>
      <button class="btn btn-secondary btn-sm"
        [disabled]="(radius | async) === 25" (click)="update(25)">Query to 25km</button>
      <button class="btn btn-secondary btn-sm"
        [disabled]="(radius | async) === 1500" (click)="update(1500)">Query to 1500km</button>
  </div>-->
  <div class="top-toolbar">
    <ngx-toolbar (onZoomSelected)="changeZoom($event)"
      (onLegendSelected)="changeMapLayers($event)"></ngx-toolbar>
  </div>
  <div class="footer-toolbar">
    <ngx-listing  #listings (onAddListings)="addListings($event)"
      (onSelectListing)="onSelectListing($event)"
      [mapProperty]="mapProperty"
    ></ngx-listing>
  </div>

</div>
