@import '../../styles/themes';
$dropdownTitleColor: #4DB6EA;
$dropdownItemColor: #241D52;
@mixin button-shared() {
  button {
    background-color: #f8f8f8;
    border-color: #fff !important;
    .fa {
      color: #898783;
    }
    &.selected {
      background-color: #ededed;
      .fa {
        color: #4c4843;
      }
    }
  }
}
@mixin dropdown-shared() {
  .dropdown .btn-secondary + .dropdown-menu,
  .dropdown .btn-outline-secondary + .dropdown-menu,
  .dropup .btn-secondary + .dropdown-menu,
  .dropup .btn-outline-secondary + .dropdown-menu {
    background-color: #fff;
    border-top-color: #fff;
  }
  .dropdown .dropdown-menu, .dropup .dropdown-menu {
    color: $dropdownItemColor;
    border-radius: 0;
    z-index: 2;
  }
  .dropdown-menu .dropdown-item {
    font-weight: 500;
    &:active {
      background-color: #f8f9fa;
    }
  }

}
@include nb-install-component() {
  .toolbar-container {
    .inner-row {
      margin-bottom: 0.5rem;
    }
    .dropdown-menu {
      padding: 0;
    }
    .zoom-bar {
      height: 3.5rem;
      button {
        width: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2) .fa {
          font-size: 1.35rem;
        }
        &:nth-child(3) .fa {
          font-size: 1.2rem;
        }
        &:nth-child(4) .fa {
          font-size: 1.05rem;
        }
        &:nth-child(5) .fa {
          font-size: 0.9rem;
        }
        &:nth-child(6) .fa {
          font-size: 0.75rem;
        }
        &:nth-child(7) .fa {
          font-size: 0.6rem;
        }
      }
      ::ng-deep .tooltip {
        .arrow {
          &::before {
            border-top-color: #fff;
          }
        }
        .tooltip-inner {
          background-color: #fff;
          color: rgba(0, 0, 0, 0.54);
          text-transform: uppercase;
          z-index: 99;
        }
      }
      .btn.btn-secondary:disabled,.btn.btn-secondary.btn-disabled {
        background-color: #fdfdfd;
        opacity: 1;
        i {
          opacity: 0.5;
        }
      }
    }
    .presets-bar {
      border: solid 2px #fff;
      .type-dropdown {
        .dropdown-menu {
          position: relative !important;
          .dropdown-item {
            &.selected {
              background-color: #f8f9fa;
            }
          }
        }
        .btn.btn-secondary.top-button  {
          display: flex;
          justify-content: flex-start;
          i {
            position: absolute;
            right: 8px;
          }
        }
      }
      button {
        border: 0;
        border-radius: 0;
      }
    }
    @media (max-width: 767.98px) {
      .presets-bar {
        border: 0;
      }
      .chat-bar {
        padding-left: 9.5px;
      }
    }

  }
  @include nb-for-theme(default) {

    .type-dropdown {
      position: relative;
      .btn.btn-secondary.top-button  {
        width: 100%;
        color: $dropdownTitleColor;
      }
    }
    @include button-shared();
    @include dropdown-shared();
  }
}
