<div class="row toolbar-container">
  <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12 chat-bar inner-row">
    <ngx-chat-component class=""></ngx-chat-component>
  </div>
  <!--<div class="col-md-6 col-lg-5 col-sm-12 col-xs-12 flex d-none d-md-block
    flex-justify-center inner-row">-->
    <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12 flex
      flex-justify-center inner-row">
    <div class="btn-group zoom-bar">
      <button type="button" class="btn btn-secondary"

        [ngClass]="{'selected': zoomLevels.currentZoomIndex === i}"
        *ngFor="let zoomAction of zoomActions; let i = index"
        [disabled]="zoomAction.isDisabled"
        (click)="selectZoomAction(zoomAction, i)">
          <i class="fa fa-{{zoomAction?.icon}}" placement="top"
            ngbTooltip="{{zoomAction.tooltip}}"  ></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 col-xs-12 inner-row">
    <div class="presets-bar">
      <div class="type-dropdown">
        <!--<div class="top-bottom-container d-none d-md-block">-->
        <div class="top-bottom-container">
          <button class="btn btn-secondary top-button" type="button"
            (click)="typeDropdownSelected = !typeDropdownSelected">
            {{selectedPreset?.name}}
            <i class="fa fa-filter"></i>
          </button>
          <div class="dropdown" [ngClass]="{'show': typeDropdownSelected}">
            <ul class="dropdown-menu" [ngClass]="{'show': typeDropdownSelected}">
              <li class="dropdown-item" *ngFor="let preset of presets"
                (click)="selectedPreset=preset"
                  [ngClass]="{'selected': (selectedPreset?.value === preset.value)}">
                {{preset.name}}
              </li>
            </ul>
          </div>
        </div>

        <!--<div class="type-dropdown-container" *ngIf="typeDropdownSelected">
          <div class="dropdown" ngbDropdown>
            <button class="btn btn-secondary" type="button" ngbDropdownToggle>
              Presets for Buy
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let preset of presets">
                {{preset.name}}
              </li>
            </ul>
          </div>
          <div class="dropdown" ngbDropdown>
            <button class="btn btn-secondary" type="button" ngbDropdownToggle>
              Presets for Rent
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let preset of presets">
                {{preset.name}}
              </li>
            </ul>

          </div>
        </div>-->
        <div class="legend-dropdown">
          <ngx-toolbar-legend (onLegendSelected)="legendsSelected($event)">
          </ngx-toolbar-legend>
        </div>
      </div>
   </div>
  </div>
</div>
