
<div class="row  d-md-none marker-row">
  <div class="col flex flex-justify-end">
    <button class="btn btn-secondary btn-icon btn-marker"
      (click)="showDropdown = !showDropdown">
      <i class="fa fa-map-marker"></i>
    </button>
  </div>
</div>
<div class="legend-component">
  <div class="dropdown" [ngClass]="{'show': showDropdown}" >
    <button class="btn btn-secondary btn-block d-none d-md-block"
      type="button" (click)="showDropdown = !showDropdown">
      Show Legend
    </button>
    <ul class="dropdown-holder dropdown-menu" *ngIf="showDropdown"
      [ngClass]="{'show': showDropdown}" >
      <li class="dropdown-item" *ngFor="let legend of legends"
        (click)="toggleLegendFilter($event,legend)">
        <nb-checkbox [value]="legendFilter[legend.value] || false">
          {{legend.name}}
        </nb-checkbox>
      </li>
    </ul>
  </div>
</div>
