@import '../../../styles/themes';
@mixin message-text() {
  .message-text {
    max-width: 80%;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    color: rgba(0,0,0,0.54);
    &.right {
      align-items: flex-end;
      float: right;
      .message-body {
        background-color: #CAE9F8;
        border: 0;
        font-weight: bold;
      }
    }
    .message-body {
      min-width: 6rem;
      display: inline-flex;
      justify-content: center;
      margin: 1rem 1rem 0.5rem 1rem;
      padding: 0.6rem 1rem;
      border-radius: 8px;
      background-color: #EFEFEF;
      &.basic-preset {
        background-color: #CAE9F8;
        border: 0;
        font-weight: bold;
      }
      &.message-presets-body {
        padding: 0;
      }
    }
    .message-time {
      font-size: 0.8rem;
      align-self: flex-end;
      margin-right: 1rem;
    }
    ul {
      list-style: none;
      z-index: 2;
      li {
        z-index: 1;
        min-height: 3rem;
        border-bottom: solid 1px #ccc;
        &.title {
          padding: 0.5rem 1rem;
        }
        .btn {
          z-index: 1;
          background: transparent;
          color: #4DB6EA;
          font-weight: bold;
          padding: 0.9rem 1.65rem;
          border-radius: 0;
          border: 0;
          text-transform: capitalize;
          &:hover {
            background-color: #4DB6EA;
            color: #fff;
          }
        }
        &:last-child {
          border-bottom: 0;
          .btn {
            border-radius: 0 0 8px 8px;
          }
        }
      }
    }
  }
}
@include nb-install-component() {
  .message-chat {
    height: 100%;
    .form-control {
      z-index: 1;
    }
    .message-chat-area {
      height: 80%;
    }
    .message-chat-content {
      height: 100%;
      background: #fff;
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
      @include message-text();

    }
    .message-chat-footer {
      display: flex;
      textarea {
        min-height: 46px;
      }
      .input-group-prepend {
        button {
          border-top-left-radius: 0;
        }
      }
      .input-group-append {
        button {
          border-top-right-radius: 0;
        }
      }
    }
  }
}
