<div class="message-chat" [hidden]="!isOpen.value">
  <div class="message-chat-area">
    <div class="message-chat-content" ngx-auto-scroll #chatContainer
      [ngClass]="{'column-reverse': chatMessages.length > 0}">
      <div class="message-box"
        *ngFor="let chatMessage of (chatMessages |
          orderByImpure: chatMessagesFilter)">
          <div class="message-text" *ngIf="!chatMessage?.data?.type ||
            (chatMessage.data.type === 'basic') ||
            (chatMessage.data.type === 'basic-preset')"
            [ngClass]="{'right': !chatMessage.username}"
            >
            <span class="message-body"
              [ngClass]="{'basic-preset': (chatMessage?.data?.type === 'basic-preset')}">
              {{ chatMessage?.data?.text}}
            </span>
            <span class="message-time">
              {{ chatMessage?.timestamp | date: 'hh:mm:ss'}}
            </span>
          </div>
          <div class="message-text" *ngIf="chatMessage?.data?.type === 'presets'"
            [ngClass]="{'right': !chatMessage.username}">
            <ul class="message-body message-presets-body flex flex-column">
              <li class="flex flex-align-center flex-justify-center title">
                {{ chatMessage?.data?.text}}
              </li>
              <li *ngFor="let action of chatMessage?.data?.actions"
                class="flex flex-align-center flex-justify-center">
                <button class="btn btn-block btn-info"
                  (click)="sendActionMessage(action)">
                  {{ action.name }}
                </button>
              </li>
            </ul>
            <span class="message-time">
              {{ chatMessage?.timestamp | date: 'hh:mm:ss'}}
            </span>
          </div>

          <!-- <div class="image-holder" *ngIf="chatMessage.data.type === 'image'">
            <img src="assets/imgs/loaders/ring.svg" img-cache ic-src="{{ chatMessage.data.url }}"/>
          </div> -->

      </div>
    </div>
  </div>
  <div class="message-chat-footer" >
    <div class="input-group">
      <div class="input-group-prepend">
        <button (click)="sendChatMessage(chatMessageText)"
          class="btn btn-secondary btn-sm">
            <div class="icon">
              <i class="fa fa-ellipsis-v"></i>
            </div>
        </button>
      </div>
      <!--<textarea rows="1" autosize [(ngModel)]="chatMessageText"
        class="form-control" placeholder="Type your reply here">
      </textarea>-->
      <input class="form-control" placeholder="Type your reply here"
        [(ngModel)]="chatMessageText" type="text" #chatMessageInput
        (keyup.enter)="sendMessage(chatMessageText)"
      />
      <div class="input-group-append" (click)="sendMessage(chatMessageText)">
         <button class="btn btn-secondary" type="button">
           <div class="icon">
             <i class="fa fa-location-arrow"></i>
           </div>
         </button>
      </div>
    </div>
  </div>
</div>
