<div class="listing-component" >
  <div *ngIf="truListings.truData | async; let truData">
    <div class="listing-filter-holder" [ngClass]="{'selected': (!!selectedListing)}">
      <!--<ngx-listing-filter [count]="listings?.length"
        (onSelectFilter)="onSelectFilter($event)">
      </ngx-listing-filter>-->
      <ngx-listing-filter [count]="truData?.total_count"
        [isLoading]="truData?.isLoading"
        (onSelectFilter)="onSelectFilter($event)">
      </ngx-listing-filter>
    </div>
    <div class="listing-holder flex">
        <virtual-scroll *ngIf="truData?.data?.length > 0"
          [horizontal]="true"
          [items]="truData?.data"
          (update)="scrollItems = $event"
          (change)="indices = $event"
          (end)="fetchMore($event)"
          [ngClass]="{'selected': (!!selectedListing),
            'select-unselect-mouseover': (selectToUnselect && mouseover),
            'mouseover': (mouseover),
            'mouseleave': (!mouseover)}"
          (mouseover)="mouseover = true"
          (mouseleave)="mouseover = false"
          >
          <div  *ngFor="let listing of scrollItems; let i = index" class="inline">
            <ngx-listing-tile [listing]="listing"
              [selectedListing]="selectedListing"
              (onToggleSelectListing)="toggleSelectListing($event, listing)"
              class="flex"
            ></ngx-listing-tile>
          </div>
          <!--   (mouseleave)="(listing.id === selectedListing.id) ?
         (selectedListing = null) : null"   -->
          <!-- <div *ngIf="loading" class="loader">Loading...</div>-->
        </virtual-scroll>

        <div *ngIf="truData?.data.length === 0 &&
          (!truData?.isLoading || !truData?.isInitialLoading)"
          class="flex flex-align-center flex-justify-center listing-status-bar">
          <label>No Listings found</label>
        </div>
        <div *ngIf="truData?.isInitialLoading"
          class="flex flex-align-center flex-justify-center listing-status-bar">
          <label>Loading...</label>
        </div>
      </div>
  </div>
</div>
