<div class="chat-container">
  <div class="input-group collapsed-window" *ngIf="!isChatOpen.value">
    <div class="input-group-prepend">
      <button class="btn btn-secondary dropdown-toggle" type="button"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" (click)="openChatBox()">
          <img src="assets/images/logo@3x.png"/>
      </button>
    </div>
    <input type="text" placeholder="How can I help you today?"
      (focus)="openChatBox()"
      [(ngModel)] = "parentChatMessage"
      class="form-control"/>
    <div class="input-group-append">
       <button class="btn btn-secondary" type="button">
         <div class="icon">
           <i class="fa fa-location-arrow"></i>
         </div>
       </button>
    </div>
  </div>
  <div class="input-group" *ngIf="isChatOpen.value" class="expanded-window">
    <div class="input-group-prepend">

      <button class="btn btn-secondary dropdown-toggle" type="button"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="assets/images/logo@3x.png"/>
      </button>
    </div>
    <div class="title" (click)="closeChatBox()">TruExpert</div>
    <div class="input-group-append">
       <button class="btn btn-secondary" type="button"
        (click)="closeChatBox()">
         <div class="icon">
           <i class="fa fa-chevron-up"></i>
         </div>
       </button>
    </div>
  </div>
  <div class="expanded-window-chat-area"
    [ngClass]="{'active': isChatOpen.value}">
    <ngx-chat-message-component #chatMessage
      [isOpen]="isChatOpen">
    </ngx-chat-message-component>
  </div>
</div>
